html{
	height: 100%
}

body{
   background-image: url (https://ak8.picdn.net/shutterstock/videos/1937878/thumb/1.jpg?i10c=img.resize(height:160));
   background-postion: center center;
   background-size: cover;
}


ul{
	list-style-type: none;
	 margin: 0;
    	padding: 0;
	
}	
	
li a {
   	background-color: lightgrey; 
	display: block;
    	width: 60px;
}




