html{
	height: 100%
}

body{
   background-image: url (https://i.pinimg.com/originals/88/5d/70/885d70d06f1b30fe5410dbd2eb861a61.jpg);
   background-postion: center center;
   background-size: cover;
}


ul{
	list-style-type: none;
	 margin: 0;
    	padding: 0;
	
}	
	
li a {
   	background-color: lightgrey; 
	display: block;
    	width: 60px;
}




